$root-font-size: 16px !default;
$root-paragraph-height: 20px;
$root-line-height: $root-paragraph-height / $root-font-size;

$font-default: "MICROSOFT YaHei", "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif !default;
$font-code: Courier, "Courier New", monospace !default;
$input-color-placeholder: #ccc !default;


$root-background: white !default;

$title-color: #2c3e50;
$base-color: #7d8a96;
$active-color: #02bf87;
$link-color: #4477aa;
$border-color: #D4D8D8;


// HEADER
// 标题字体 24px

// BOX
// 中的所有字体都是 14px

